
<center><p>Enter Artists: <input type='text' id='artist-input'> <input type='text' id='artist-input'> <input type='text' id='artist-input'> <input type='text' id='artist-input'> <button id='graph'>Graph it!</button></p>
<p>Compare the popularity of 4 different artists' top five tracks!</p>
<canvas id='graph-canvas' width='800' height='400'></canvas></center>
